# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Services.iml
# Datasource local storage ignored files
/../../../../../../../:\Tri_Viet\src\Services\.idea\.idea.Services.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
