# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Exsercie_4.iml
# Datasource local storage ignored files
/../../../../../:\Exsercie_4\.idea\.idea.Exsercie_4.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
