# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.TriViet.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Tri_Viet\src\.idea\.idea.TriViet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
